@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
  }
  
  :root{
      --background-color: #F8EEEC;
      --text-color:#2E1503;
      --primary-color:#9E4244;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  
  body {
      background-color: var(--background-color);
      color: var(--text-color);
  }

  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: var(--background-color);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    font-weight: 800;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    color: var(--primary-color);
    transform: scale(1.1);
}

.nav-menu a{
    margin-left: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.nav-menu a:hover,
.nav-menu a.nav-active{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

.home{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 8rem;
}